.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    max-height: 100%;
    width: 100%;
    overflow: auto;
  }
}

.input {
  margin-bottom: 30px;
}
