@import "../../../scss/variables.scss";

.inputSumBlock {
  position: relative;
}

.inputField {
  border-bottom: 1px solid;
  &.light {
    border-color: $border-light-color;
  }
  &.error {
    border-color: $error-color;
  }
  padding: 5px;
}

.errorMsg {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);

  color: $error-color;
  font-size: 8px;
}
