@import "../../scss/variables.scss";

.dayName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.dayContainer {
  margin-bottom: 30px;
  padding-bottom: 30px;

  &.light {
    border-bottom: 1px solid $border-light-color;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
}
