$text-color: #262626;
$text-lightgray-color: #616161;

$gray-color: #484040;

$text-superlightgray-color: #b6b6b6;

$text-lightblue-color: #b4cadd;

$text-blue-color: #366188;

$border-light-color: #e2e2e2;
$border-blue-light-color: #6d9dc9;

$background-light-secondary-color: #f3f4f8;
$background-light-tertiary-color: #f2f2f3;
$lightgreen-color: #19bb4f;

$error-color: #fd7272;
